.cache
.conda/
.env
.ipynb_checkpoints/
.DS_Store
._data
__pycache__/
python_1/unit_1/prog_datasci_1.txt
python_1/unit_3/a_file.txt
python_1/unit_3/output.txt
python_1/unit_3/data/
python_1/unit_4/data/
python_1/unit_6/data/
python_1/unit_7/tree.pdf
python_1/unit_8/data/
python_2/unit_5/data/0
python_2/unit_3/file_2.txt
python_2/unit_3/files_folder/compressed_file.zip
python_2/unit_3/files_folder/dec_tree_model.pickle
python_2/unit_3/files_folder/dest_file.txt
python_2/unit_3/files_folder/marvel.db
python_2/unit_3/files_folder/test_file.txt
python_2/unit_3/files_folder/test_file_2.txt
python_2/unit_3/mem_data/
python_2/unit_5/data/1

